@model AspNetCore.Demo.ShoppingCartViewModel

<h1>Giỏ hàng</h1>

@if (Model.Products.Count == 0)
{
    <p>Giỏ hàng của bạn đang trống.</p>
}
else
{
    <div class="basket-content">
        @foreach (var item in Model.Products)
        {
            <div class="basket-item">
                <div class="basket-item-product">
                    <img src="@item.Product.Image" alt="@item.Product.Name" />
                </div>
                <div class="basket-item-details">
                    <span class="basket-item-quantity">Số lượng: @item.Quantity</span>
                    <span class="basket-item-price">Giá: @item.Product.Price:c</span>
                
                </div>
                <div class="row">
                    <div class="offset-md-2 col-md-10">
                    <input type="" class="btn btn-outline-dark" value="" />
            </div>
        </div>
            </div>
        }

        <div class="basket-totals">
            <span class="basket-total-label">Tổng cộng:</span>
            <span class="basket-total-price">@Model.Total:c</span>
        </div>

        <a href="@Url.Action("Checkout", "Checkout")" class="btn btn-primary">Thanh toán</a>
    </div>
}
