@model Ecommerce.Models.RegisterViewModel
@{
    ViewBag.Title = "Đăng ký tài khoản";
}
@*Begin Html*@
<div class="col-8 register">

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form", @class = "register-form col-10" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <h4 class="col-8">Tạo tài khoản mới.</h4>
        </div>
        <div class="row">
            @Html.ValidationSummary("", new { @class = "warning col-8" })
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Email, "Email", new { @class = "col-3 col-form-label" })
            <div class="col-5">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Password, "Mật khẩu", new { @class = "col-3 col-form-label" })
            <div class="col-5">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.ConfirmPassword, "Xác nhận mật khẩu", new { @class = "col-3 col-form-label" })
            <div class="col-5">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="register-form col-8" style="display: flex; justify-content: center">
                <button type="submit" value="Register" class="btn">Đăng ký</button>
            </div>
        </div>
        }
    </div>


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
