@model Ecommerce.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Info";
}
<head>
    <link href="~/Style/InfoPage.css" rel="stylesheet" type="text/css" />
    <script src="~/Assets/clientService.js"></script>
    <script src="~/Assets/clientController.js"></script>
</head>

<body ng-app="myApp" ng-controller="infoController">
    <div class="row">
        <div class="info col-10">
            <div class="button-list col-2">
                <div id="highlight1"></div>
                <div id="xuanha">
                    <button id="btn1" onclick="moveHighlight(this)">Thông tin cá nhân</button>
                    <button id="btn2" onclick="moveHighlight(this)">Đổi mật khẩu</button>
                    <button id="btn3" onclick="moveHighlight(this)">Chi tiết đơn hàng</button>

                </div>
            </div>
            <div id="detail" class="col-10">
                <div class="user-info col-12">
                    <h2 style="grid-column: 1/3; text-align: center; font-size: 1.2rem; color: red;">Thông tin cá nhân</h2>
                    <h2>Họ và tên</h2>
                    <input ng-model="User.Name" />
                    <h2>Biệt danh</h2>
                    <input ng-model="User.NickName" />
                    <h2>Ngày sinh</h2>
                    <input type="date" ng-model="User.DOB" />
                    <h2>Số CCCD</h2>
                    <input ng-model="User.PersonalID" />
                    <h2>Số điện thoại</h2>
                    <input ng-model="User.PhoneNumber" />
                    <h2>Địa chỉ</h2>
                    <input ng-model="User.Address" />
                    <h2>Mô tả địa chỉ</h2>
                    <input ng-model="User.AddressDescription" />
                    <h2>Link ảnh đại diện</h2>
                    <input ng-model="User.ImageUrl" />
                    <button style="grid-column: 1/3; display: block; margin: 10px auto; border: 1px solid red; height: 2rem; background: red; color: white" ng-click="updateUser()">Thay đổi</button>
                </div>
                <div class="change-pass col-12">


                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
                    {
                        <h4 style="text-align: center; color: red">Thay đổi mật khẩu</h4>
                        <div class="pass">
                            @Html.AntiForgeryToken()

                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })

                            <label>Mật khẩu cũ</label>
                            
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "" })
                            


                            <label>Mật khẩu mới</label>
                            
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "" })
                            


                            <label>Xác nhận mật khẩu mới</label>
                            
                             @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "" })
                            
                            <input type="submit" value="Thay đổi mật khẩu" class="btn btn-outline-dark" style="grid-column:1/3; width: 30%; display: block; margin: 19px auto" />
                            
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</body>
<script>
    let i = 0;
    let detail = document.getElementById("detail");
    let userinfo = document.getElementsByClassName("user-info")[0];
    let changepass = document.getElementsByClassName("change-pass")[0];

    function moveHighlight(button) {
        console.log(button.id);
        if (button.id == "btn1") {
            userinfo.style.display = "grid";
            changepass.style.display = "none";
        }
        else if (button.id == "btn2") {
            changepass.style.display = "block";
            userinfo.style.display = "none";
        }
        var highlight = document.getElementById('highlight1');
        var rect = button.getBoundingClientRect();
        var containerRect = document.querySelector('.button-list').getBoundingClientRect();
        var d1 = document.getElementById("detail");
        var topPosition = rect.top - containerRect.top - 32;
        highlight.style.transform = 'translateY(' + topPosition + 'px)';
        highlight.style.opacity = "0.5";
        d1.style.opacity = "0";
        setTimeout(() => {
            console.log(1);
            highlight.style.opacity = "1";
            d1.style.opacity = "1";
        }, 500);
    }
    moveHighlight(document.getElementById("btn1"));

    // Initialize the highlight position
    document.addEventListener('DOMContentLoaded', function () {

    });
</script>